.track-search-result {
    display: flex;
    align-items: center;
    margin: 2ch;
    cursor: pointer;
}

.track-info {
    margin-left: 2ch;
    text-align: left;
}

.text-muted {
    color: #88888888;
    font-size: smaller;
}

.track-favourites-true,
.track-favourites-false {
    font-size: 2rem;
    cursor: pointer;
    padding: 1ch;
}

.track-favourites-false:hover,
.track-favourites-true {
    color: gold;
}

.track-favourites-true:hover,
.track-favourites-false {
    color: #88888888;
}