@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***
 * All styling subject to change...
 **/

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2ch;
    min-height: 100svh;
    padding: 5ch;
    background: rgb(66, 209, 221);
    background: linear-gradient(225deg, rgba(48, 48, 48, 1) 0%, rgba(16, 16, 16, 1) 100%);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #ffffff;
}

.login-form,
.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 2ch;
    width: 20vw;
    color: #ffffff;
}

.changeMode {
    cursor: pointer;
    text-decoration: underline;
}

button {
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px #000;
    border: 2px solid #ffffff;
    padding: 0.5ch 1ch;
    color: #ffffff;
    background-color: transparent;
    box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 1);
    font-family: 'Kavoon', cursive;
    font-size: 1.5rem;
}

button:hover {
    box-shadow: inset 1px 1px 5px 1px rgba(255, 255, 255, 1);
}

input {
    border-radius: 10px;
    padding-block: 0.5ch;
    text-align: center;
    font-size: 1.5rem;
}