.spotify-playlist-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1ch;
    border: solid 1px #ffffff;
    width: 30ch;
    padding: 1ch;
    font-size: 0.8rem;
}

.spotify-playlist-card p {
    width: 30ch;
    text-align: center;
}

.spotify-playlist-card img {
    max-width: 19ch;
    max-height: 19ch;
}

.spotify-playlist-card header {
    width: inherit;
}

.spotify-playlist-card footer {
    width: inherit;
}